html {
  height: 100%;
}
body {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.64);
}
.flex-container {
  display: -webkit-flex;
  display: flex;
  /*-webkit-flex-direction: column;
  flex-direction: column;*/
  height: 100%;
  justify-content: center;
  align-items: center;
}
.main-box {
  max-width: 700px;
  max-height: 600px;
  width: 700px;
  height: 600px;
  background-color: rgba(255, 255, 255, 0.91);
}
