details{
    background:#fff;
    font-size:16px;
    border-bottom:1px solid #e0e0e0;
    box-shadow:0 0 2px rgba(0,0,0,0.12),0 2px 4px rgba(0,0,0,0.24);
    display:flex;
    margin: 16px 16px;
}
details div.content{
    padding: 16px;
    background-color: rgba(0 ,0 ,0, 0.07);
}

details[open] summary:after {
    color:#9e9e9e;
    content: "expand_less";
    font-family: 'Material Icons';
}
details[open]{
    border:none;
    border-radius: 2px;
}
details[open]:first-child{
    margin-top:0;
    border:none;
}
details[open]:last-child{
    margin-bottom:0px;
    border:none;
}
summary {
    outline:none;
    cursor: pointer;
    padding: 16px 24px;
    color:#212121;
    position: relative;
    font-size: 15px;
}
summary:hover{
    background:#eeeeee;
}

details[open] summary:hover{
    background:none;
}
summary ul {
    padding-left: 0;
    list-style: none;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}
summary ul li{
     flex: 1 100%;
     flex-flow: row wrap;
}
summary ul li span{
      display: block;
      font-size: 12px;
      margin-top: 6px;
      opacity: .75;
}
summary::-webkit-details-marker {
    display: none;
}
summary::after {
    content: "expand_more";
    font-family: 'Material Icons';
    color: #9e9e9e;
    font-size: 1.5em;
    padding: 0;
    text-align: center;
    margin-top: 0;
    position: absolute;
    top: calc(50% - 12px);
    bottom: 0;
    right: 0;
    width: 10%;
}
.trash-can-icon > svg {
  color: #9e9e9e !important;
}
.trash-can-icon:hover > svg {
  color: red !important;
}
